.edit{
    float: right;
}
.delete{
    float: right;
    margin-right: -30px;
}
.input{
    width:210px
}
.material-icons{
    vertical-align: middle;
}
.input:focus{
    background-color: #e0cebf;
   
}