
// .et_header_style_left .logo_container {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }

// @media (max-width: 1366px) and (min-width: 980px){
// #logo {
//     max-height: 45px!important;
//     margin-top: -3em!important;
// }
// }
// #logo {
   
//     margin-bottom: 0;
//     max-height: 54%;
//     display: inline-block;
//     float: none;
//     vertical-align: middle;
// }
// @media (min-width: 980px){
// .et-fixed-header .logo_container:before {
//     width: 145px;
//     height: 64px;
// }
// }

// .container.et_menu_container {
//     z-index: 99;
// }

// @media (min-width: 980px){
// #main-header.et-fixed-header {
//     background: linear-gradient(to bottom,#242524 25%,#242425 75%,rgba(0,0,0,0) 75%);
// }
// }
// .et-fixed-header#main-header {
//     box-shadow: none!important;
// }
// .et_fixed_nav #main-header {
//     position: fixed;
// }
// @media (min-width: 980px){
// #main-header {
//     transition: ease 200ms;
// }
// }
// #main-header {
//     line-height: 23px;
//     font-weight: 500;
//     width: 100%;
//     z-index: 99999;
// }
// header,footer{
//     display: block;
// }
// .clearfix:after {
//     visibility: hidden;
//     display: block;
//     font-size: 0;
//     content: " ";
//     clear: both;
//     height: 0;
// }
// .container {
//     text-align: left;
//     position: relative;
//     width: 80%;
//     margin: auto;
// }

// @media (min-width: 980px){
// .et-fixed-header .logo_container {
//     margin-top: -5px;
// }
// }

// .et_header_style_left .logo_container {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }
// .logo_container {
//     transition: all .4s ease-in-out;
// }

// .logo_container:before {
//     position: absolute;
//     left: 1px;
//     content: "";
//     top: 0px;
//     background-color: #FFF;
//     border-bottom-right-radius: 20px;
//     border-bottom-left-radius: 20px;
//     transition: all ease 500ms;
// }
// span.logo_helper {
//     display: inline-block;
//     height: 100%;
//     vertical-align: middle;
//     width: 0;
// }
// @media (min-width: 980px){
// .et-fixed-header .logo_container {
//     margin-top: -5px;
// }
// }
// .et_header_style_left .logo_container {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }
// @media (max-width: 1366px) and (min-width: 550px){
// #logo {
//     max-height: 45px!important;
//     margin-top: -3em!important;
// }
// }
// img {
//     max-width: 100%;
//     height: auto;
// }
// a {
//     color: #ef7e1a;
// }
// #top-menu a:hover{
//     color:#ef7e1a !important;
// }
// @media (max-width: 1366px) and (min-width: 980px){
// #logo {
//     max-height: 45px!important;
//     margin-top: -3em!important;
// }
// }
// #logo {
//     position: relative;
//     z-index: 999;
// }
// #logo {
  
//     transition: all .4s ease-in-out;
//     margin-bottom: -38px;
  
//     display: inline-block;
//     float: none;
//     vertical-align: middle;
//     -webkit-transform: translateZ(0);
// }
// @media only screen and (min-width: 981px){
// .et_header_style_left .et-fixed-header #et-top-navigation {
//     padding-top: 25px;
// }
// }
// @media only screen and (min-width: 981px){
// .et_header_style_left .et-fixed-header #et-top-navigation {
//     padding: 30px 0 0 0;
// }
// }
// #et-top-navigation {
//     float: none;
//     margin-left: 40px;
//     transition: padding ease 400ms!important;
// }
// #et-top-navigation {
//     font-weight: 600;
// }
// nav#top-menu-nav{
//     float: right  !important;
// }
// #top-menu-nav {
//     line-height: 0;
// }
// nav{
//     display: block;

// }
// #et-top-navigation {
//     font-weight: 600;
// }
// #top-menu{
//     float: right  !important;
//     line-height: 0;
// }
// ul {
//     list-style: none;
// }
// .et-fixed-header #top-menu li:not(.centered-inline-logo-wrap) {
//     margin-top: -2px !important;
// }
// #top-menu-nav>ul>li {
//     padding-left: 15px;
//     padding-right: 15px;
// }
// #top-menu li {
//     display: inline-block;
//     font-size: 14px;
// }
// #top-menu li {
//     word-wrap: break-word;
// }
// .nav li {
//     position: relative;
//     line-height: 1em;
// }
// @media only screen and (min-width: 981px){
// .et_header_style_left .et-fixed-header #et-top-navigation nav>ul>li>a{
//     padding-bottom: 30px;
// }
// }
// @media only screen and (min-width: 981px){
// .et-fixed-header #top-menu a{
//     color: rgba(255,255,255,0.95)!important;
// }
// }
// #top-menu li a{
//     letter-spacing: 0px!important;
// }
// #top-menu a {
//     font-weight: 400;
// }
// #top-menu a {
    
//     text-decoration: none;
//     display: block;
//     position: relative;
   
//     transition: all .4s ease-in-out;
// }

// #top-menu>li:not(.centered-inline-logo-wrap):after {
//     position: absolute;
//     content: "";
//     width: 76%;
//     height: 1px;
//     bottom: 1.5em;
//     left: 12%;
//     border-top: 3px dotted #efaa1a;
//     opacity: 0;
//     transition: all ease 200ms;
// }
// .et-fixed-header #top-menu li:not(.centered-inline-logo-wrap) {
//     margin-top: -25px;
// }
// #top-menu-nav>ul>li {
//     padding-left: 15px;
//     padding-right: 15px;
// }
// #top-menu li {
//     display: inline-block;
//     font-size: 14px;}
//     #top-menu li {
//         word-wrap: break-word;
//     }
//     .nav li {
//         position: relative;
//         line-height: 1em;
//     }
//     #top-menu a {
//         font-weight: 500;
//     }
//     header#main-header {
//         height: 68px;
//         position: fixed;
//     }

img#logo {
    width: 175px;
    height: 40px;
}
.bg-light {
    background-color: #242425!important;
}
.navbar-light .navbar-nav .active>.nav-link{
    color:#efaa1a;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 45px;
}
.navbar {
    padding: .5rem 5rem;
}